.sidebar .nav-item:hover{
  /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,32,147,1) 1%, rgba(5,89,174,1) 13%, rgba(0,212,255,1) 100%); */
  background:#74a5f2;
}
.notes-margin {
  margin-left: 10%;
}
.assessment-margin {
  margin-left: 14%;
}